@charset "utf-8";
/* CSS Document */
#page{width:980px;
	  height:1386px;
	  background-color:#FFFFFF
}
#header{height:61px;
		width:892px;
		border-bottom:2px solid #938E8C;
		margin:0px auto;
}
.block{width:110px;
	 height:61px;
	 background-color:#d45d5c;
	 position:relative;
}
.block p{font-size:12px;
	 font-family:"黑体";
	 color:#FFFFFF;
	 position:absolute;
	 margin-left:5px;
	 bottom:-10px;	
}
#header .date{font-size:12px;
			  font-family:"黑体";
			  color:#D45D5C;
			  float:right;
			  margin-top:41px;
			}
#box1 {width:892px;
	   height:301px;
	   margin:30px auto;
	   
}
#box1 .pic1{width:641px;
		  height:301px;
		  }
#box1 .text{float:right;
			width:203px;
			border-top:2px solid #cc8091;
			}
.p1{font-size:24px;
	color:#000000;
	font-family:"Microsoft Yahei";
	text-decoration:underline;
	font-variant:small-caps;
	margin-top:6px;
	margin-bottom:0px;
}
.p2{font-size:12px;
	color:#676767;
	font-family:"楷体";
	line-height:10px;
	margin-top:0px;
	margin-bottom:0px;
}
.p3{
	font-size:116px;
	color:#75B86B;
	font-family:"Microsoft Yahei";
	font-style:oblique;
	margin-top:0px;
	margin-bottom:0px;
}
.p4{
	font-size:55px;
	font-family:"Microsoft Yahei";
	color:#cc8091;
	margin-top:0px;
	display:inline-block;
}
.p5{display:inline-block;}
.p5-1{
	font-size:21px;
	font-family:"Microsoft Yahei";
	color:#CC8091;
	margin-bottom:0px
}
.p5-2{
	font-size:12px;
	font-family:"Microsoft Yahei";
	color:#CC8091;
	margin-top:0px;
}
.picture1{position:relative;}
.green{
	display:inline-block;
	position:absolute;
}
.red{position:absolute;
	 margin-left:-191px;
	 }
#box2{margin:20px auto;
	  width:892px;
	  position:relative;
}
.what1{font-size:16px;
		color:#418c59;
		font-family:"Microsoft Yahei";
		font-weight:bold;
		text-decoration:underline;

}
.What{
	width:230px;
	display:inline-block;
	margin-top:0px;
	position:absolute;
}
.whattext{
		font-size:12px;
		color:#767777;
		font-family:"宋体";
		line-height:16px;
}
.When{width:210px;
      display:inline-block;
	  position:absolute;
	  margin-top:0px;
	  margin-left:250px;
}
.when1{font-size:16px;
	   color:#d2994f;
	   text-decoration:underline;
	   font-weight:bold;
	   font-family:"Microsoft Yahei";
}
.whentext{
	font-size:12px;
	color:#767777;
	font-family:"宋体";
	line-height:16px;
}
.How{width:150px;
	 display:inline-block;
	 position:absolute;
	 margin-top:0px;
	 margin-left:480px;
}
.how1{font-size:16px;
	  color:#cc7680;
	  font-weight:bold;
	  text-decoration:underline;
	  font-family:"Microsoft Yahei";
}
.howtext{font-size:12px;
	color:#767777;
	font-family:"宋体";
	line-height:16px;}
	
.what2{
	   font-size:12px;
	   color:#231815;
	   font-family:"Microsoft Yahei";
	   line-height:16px;
	   opacity:0.7;
}
.per{font-size:12px;
	 color:#cd4a48;
	 font-family:"Microsoft Yahei";
	 font-style:italic;
	 line-height:16px;
	 opacity:0.7;
}
#box3{position:relative;
	  width:892px;
	  margin:270px auto;
}
.THE{font-size:72px;
     color:#F5E327;
	 font-family:"黑体";
	 font-weight:bold;
	 font-style:oblique;
}
.tof{font-size:42px;
color:#11456B;
font-family:"黑体";
font-weight:bold;
line-height:16px;
margin-left:20px;
}
.front{
	font-size:33px;
	color:#11456b;
	font-family:"黑体";
	font-weight:bold;
}
.title_left{
			width:420px;
}
.text_left{
border-top:#11456B solid 2px;
position:absolute;
width:420px;
}
.text_left1{
	        font-size:70px;
			color:#f5e327;
			font-family:"Microsoft Yahei";
			float:left;
			margin-right:8px;
			margin-bottom:0px;

}
.text_left2{font-size:12px;
			color:#767777;
			font-family:"宋体";
			line-height:16px;
}
.p6{float:right;
	margin:10px;
}
.pic_right{position:relative;
			width:458px;
			height:275px;
			margin-left:433px;
			margin-top:-150px;
}
.p8{position:absolute;
	margin:-65px 0px;
}
.pic_text1{font-size:26px;
		   color:#FFFFFF;
		   font-family:"Microsoft Yahei";
		   margin-left:10px;
}
.pic_text2{font-size:12px;
		   color:#72B16A;
		   font-style:italic;
		   font-family:"Microsoft Yahei";
		   letter-spacing:1.4em;
}
.pic_text{position:absolute;
		  height:44px;
		  margin:-55px 50px;
		  border-left:3px solid #72b16a;
}
.right_bottom{width:459px;
			  height:318px;
			  position:relative;
			  margin-left:433px;
			  background:#eeedd6;
			  margin-top:16px
}
.right_bottom ul{
	position:absolute;
	margin-top:20px;
	list-style-image:url(picture/tri.png);
}
.right_bottom ul>li{
	margin:10px 0px 10px 20px;
}
.right_bottom ul span:nth-child(1){
	font-size:16px;
	color:#5A5B5B;
	font-family:"宋体";
	text-align:left;
}
.right_bottom ul span:nth-child(2){
	font-size:12px;
	color:#5A5B5B;
	font-family:"宋体";
	font-style:italic;
	text-align:right;
	line-height:20px;
}
.red_box{
		position:absolute;
		width:260px;
		height:160px;
		background-color:#d45d5c;
		bottom:0;
		color:#FFFFFF
}
.zero{
	font-size:110px;
	font-family:"Microsoft Yahei";
	margin-left:8px;
}
.one{position:absolute;
	 margin-left:75px;
	 margin-top:-110px;
	 height:86px;
	 border-left:2px solid;
	 padding-left:8px;
}
.two{font-size:21px;
	 font-family:"黑体";
	 font-style:oblique;
}
.hello{font-size:12px;
	 font-family:"黑体";
}
.right_box{position:relative;
		   padding:170px 0px 30px 280px;
}
.world{display:block;
		font-size:14px;
		font-family:"黑体";
		font-style:oblique;
		line-height:16px;
		position:absolute;
		margin-top:-25px
}
.quo1{font-size:72px;
	 display:inline;
	 color:#d45d5c;
	 font-family:"黑体";
	 margin-top:36px;
	 line-height:16px;
	 position:relative;
	 left:-40px;
	 top:32px
}
.quo2{font-size:72px;
	 display:inline;
	 color:#d45d5c;
	 font-family:"黑体";
	 margin-top:36px;
	 line-height:16px;
	 position:relative;
	 left:58px;
	 top:120px
}

#end{
	width:892px;
	 height:50px;
	 border-top:1px solid #938e8c;
	 margin:-220px auto;
}
#end span{float:right;
		 color:#d45d5c;
		 font-size:12px;
		 font-family:"黑体";

}
	
	
		